<div>
    <app-navigation></app-navigation>
</div>
<div>
    <h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:30px;text-align: center;color: gray;">Increase team performance with a visual project management tool.<br>Online Kanban board<br> for business with seamless time tracking Finally.</h1>
    <img src="../../assets/ss1.png" width="100%" />
    <img style="margin-top: -5px;" src="../../assets/ss2.png" width="100%" />
    <img style="margin-top: -4.5px;margin-left: 2.8px;" src="../../assets/ss3.png" width="99.82%" />
    <img style="margin-top: -7px;margin-left: 2px;" src="../../assets/ss4.png" width="99.89%" />
    <img style="margin-top: -5px;" src="../../assets/ss5.png" width="100%" />
    <img style="margin-top: -5px;" src="../../assets/ss6.png" width="100%" height="80%"/>
    <img style="margin-top: -590px;" src="../../assets/ss8.png" width="100%" />
    <img style="margin-top: -110px;" src="../../assets/ss9.png" width="100%" />
</div>
<div>
    <app-footer></app-footer>
</div>