<section class="page_404">
    <!-- Page title for the 404 error -->
    <h1>404 ERROR</h1>

    <div class="div1">
        <!-- Placeholder for any additional content or styling -->
    </div>

    <div class="content_box_404">
        <!-- Error message and explanation -->
        <h3>Looks like you're lost...</h3>
        <h3>the page you are looking for is not available!</h3>

        <!-- Button to navigate back to the home page -->
        <a routerLink="/landingview"><button>Go to Home</button></a>
    </div>
</section>
