<div class="container">
    <br>
    <!-- Address Card -->
    <mat-card class="address">
        <!-- Cake Shop Address -->
        <p><strong> &nbsp;&nbsp;Head Office Location : </strong>Shore Labs
            ul, Poprzeczna 11, 40-65 Katowice, Poland, EU</p>            
    </mat-card>

    <div id="appicons">
        <!-- Facebook Icon Link -->
        <a href="https://www.facebook.com" target="_blank">
            <img class="icon" src="../../assets/facebook.png" alt="facebook" />
        </a>
        <!-- Instagram Icon Link -->
        <a href="https://www.instagram.com" target="_blank">
            <img class="icon" src="../../assets/instagram.png" alt="instagram" />
        </a>
        <!-- Twitter Icon Link -->
        <a href="https://www.twitter.com" target="_blank">
            <img class="icon" src="../../assets/twitter.png" alt="twitter" />
        </a>
    </div>

    <!-- Contact Card -->
    <mat-card class="address2">
        <!-- Email Address -->
        <p><strong>&#9993; E-mail :</strong>kanbantool&#64;gmail.com</p>
        <!-- Contact Number -->
        <p id="p2"><strong> &#9743; Call us at : </strong>(+1) 646-576-7608</p>
    </mat-card>
</div>
<div id="postlines">
    <p id="p">© 2009-2023 Kanban Tool ® by Shore Labs. All rights reserved. | All other trademarks, logos and images mentioned
        on this site belong to their respective owners. | We use cookies on our website.<br><br>

        Kanban Tool is a visual management solution that helps companies visualize workflow, track project progress, and
        analyze and significantly improve business processes. Kanban Tool provides powerful online Kanban boards with
        seamless time tracking and insightful analytics. Our Kanban software works perfectly in any business process and
        is designed for teams that want to visualize work on a Kanban board.</p>
</div>